body{
    background-color:#ff8400;
}
header a{
    color:white;
    text-decoration:none;
    font-size:16px;
    padding:0 30px 0px 30px;
}
header,div,footer{
    
    overflow: hidden;
    margin:5px;
}
.container{
    float:right;
}
.logo
{
    width:25%;
    height:250px;
    padding:0 0 0 10px;
}
.img1{
    max-width: 100%;
    max-height:100%;
}
.left{
    width:45%;
    float:left;

}
.content h1{
    color:#000154;
    font-family:Verdana, Tahoma, sans-serif;
}
.content p{
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    display:flex;
    justify-items: center;
}

.glass{
    display:flex;
    justify-content:space-evenly;
    padding:10px;
}
.right{
    display:flex;
    justify-content: center;
    padding:40px;
    
}
.img0{
    max-width: 100%;
    max-height:100%;
}
footer{
    display:flex;
    justify-content: center;


}
.tin1,.tin2,.tin3{
    width:10%;
    height:150px;
    display:flex;
    justify-content: center;
    border:2px solid white;
}

img.img2{
    max-width: 100%;
    max-height: 100%;

}
